
/* Dropdown Button */
.dropbtn {
    background-color: #3498DB;
    color: white;
    padding: 15px;
    border: 15px;
    margin: 10px;
    margin-left: 0px;
    margin-right: 47px;
    border-top: 50px;
    font-size: 14px;
    border-radius: 0.5em;
    border-color: #3498DB;
    cursor: pointer;
  }
  
  /* Dropdown button on hover & focus */
  .dropbtn:hover, .dropbtn:focus {
    background-color: #2980B9;
  }
  
  /* The container <div> - needed to position the dropdown content */
  .dropdown {
    position: relative;
    display: inline-block;
    text-align: center;
    
    
  }
  
  /* Dropdown Content (Hidden by Default) */
  .dropdown-content {
    display:none;
    position: absolute;
    position:relative;
    background-color: #206695;
    
    min-width: 103px;
    max-width: 103px;
    align-self: center;
    text-align: center;
    
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 0;
  }
  
  /* Links inside the dropdown */
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  /* Change color of dropdown links on hover */
  .dropdown-content a:hover {background-color: #ddd;}
  
  /* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
  .show {display:block;}

a:link {
    text-decoration: none;
    color: white;
}

a:visited {
    color: white;
}

a:hover {
    font-weight: bolder;
}

icon {
    height: 1px !important;
    max-width: 1px !important;
}

body {
    margin:0em;
    padding:0em;
    background-color: #1f2937;

    
}

.container1 {
    
    display: flex;
    padding: 0em;
    margin: 0em;
    height: 4em;
    background-color: #1f2937
   

}


.navigation-bar {
    
    display: flex;
    flex: 1 1 auto;
    padding: 0em;
    margin: 0em;
    align-items:stretch;
}


.icon1 {
    margin-left: 1em;
    display: flex;
    flex: 0 1 auto;  
    
    background-color: transparent;
}
.icon2 {
    display: flex;
    flex: 1 1 auto;  
    color:white;
    font-family: 'Roboto', arial;
    font-size: 30px;
    min-width: 12em;
    
    align-items: center;
    justify-content: left;
    margin-left: 0.6em;
    
}

.icon3_3 {
    display: flex;
    flex: 0 1 auto;  
    width: 4em;
    color:white;
    font-family: 'Roboto', arial;
    font-size: 15px;
    margin: 0;
    
    align-items: center;
    justify-content: center;
    
    
}
.icon3_4 {
    display: flex;
    flex: 0 1 auto;  
    width: 4em;
    color:white;
    font-family: 'Roboto', arial;
    font-size: 15px;
    
    align-items: center;
    justify-content: center;
    margin-right: .3em;
    margin-left: -0.5em;

}

.icon3_1 {
    display: flex;
    flex: 0 1 auto;  
    width: 4em;
    color:white;
    font-family: 'Roboto', arial;
    font-size: 15px;
    
    align-items: center;
    justify-content: center;
    
}
.icon3_2 {
    display: flex;
    flex: 0 1 auto;  
    width: 4em;
    color:white;
    font-family: 'Roboto', arial;
    font-size: 15px;
    margin-right: 0.3em;
    
    align-items: center;
    justify-content: center;
    
}

    
    


.links1 {
    display: flex;
    flex: 1 1 auto;
}

.container2 {
    display: flex;
    
    background-color: #1f2937;
    height: 17em;
    justify-content:space-between;
    gap: 5px;
    margin: 2em;
    margin-left: 3em;
    margin-right: 3em;
}

.quote {
    margin-top: 0;
    font-size: 30px;
    min-width: 15em;
}
.item2_1 {
    display: flex;
    flex: 1 1 auto;
    color: white;
    font-family: 'Roboto', arial;
    font-size:25px;
    max-width: 20em;
    min-width: 20em;
    margin-top: 0em;
}
.item2_2 {
    display: flex;
    flex: 1 1 auto;
    background-color: #1f2937;
    font-family: 'Roboto', arial;
    border-radius: 15px;
    max-width: 28em;
    min-width: 28em;
    float:left;
    overflow: hidden;
}
.container2_5 {
    display: flex;
    background-color: #3d516d;
    height: 2em;
    color:white;
    font-family: 'Roboto', arial;
    font-size: 25px;
    align-items: center;
    justify-content: left;
    padding-left: 1em;
}
.container3 {
    display: flex;
    flex-wrap:wrap;
    
    background-color: #3d516d;
    height: 10em;
    justify-content: left;
}
.item3_1container{
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
    border: solid 2px transparent;
    border-radius: 0.5em;
    background-color: #3d516d;
    height: 7.5em;
    max-width: 6em;
    margin: 1em;
    
}
.item3_1 {
    display: flex;
    flex: 0 1 auto;
    border: solid 2px transparent;
    border-radius: 0.5em;
    background-color: #3d516d;
    max-height: 80%;
    max-width: 6em;
    margin-bottom: 0.3em;
    
}

.item3_2container{
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
    border: solid 2px transparent;
    border-radius: 0.5em;
    background-color: #3d516d;
    height: 7.5em;
    max-width: 6em;
    margin: 1em;
}
.item3_2 {
    display: flex;
    flex: 0 1 auto;
    border: solid 2px transparent;
    border-radius: 0.5em;
    background-color: #3d516d;
    max-height: 80%;
    max-width: 6em;
    margin-bottom: 0.3em;
    
}

.item3_3container{
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
    border: solid 2px transparent;
    border-radius: 0.5em;
    background-color: #3d516d;
    height: 7.5em;
    max-width: 6em;
    margin: 1em;
}
.item3_3 {
    display: flex;
    flex: 0 1 auto;
    border: solid 2px transparent;
    border-radius: 0.5em;
    background-color: #3d516d;
    max-height: 80%;
    max-width: 6em;
    margin-bottom: 0.3em;
    
}
.item3_4container{
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
    border: solid 2px transparent;
    border-radius: 0.5em;
    background-color: #3d516d;
    height: 7.5em;
    max-width: 6em;
    margin: 1em;
    
}
.item3_4 {
    display: flex;
    flex: 0 1 auto;
    border: solid 2px transparent;
    border-radius: 0.5em;
    background-color: #3d516d;
    max-height: 80%;
    max-width: 6em;
    margin-bottom: 0.3em;
}

.item3_5container{
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
    border: solid 2px transparent;
    border-radius: 0.5em;
    background-color: #3d516d;
    height: 7.5em;
    max-width: 6em;
    margin: 1em;
}
.item3_5 {
    display: flex;
    flex: 0 1 auto;
    border: solid 2px transparent;
    border-radius: 0.5em;
    background-color: #3d516d;
    max-height: 80%;
    max-width: 6em;
    margin-bottom: 0.3em;
}

.item3_6container{
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
    border: solid 2px transparent;
    border-radius: 0.5em;
    background-color: #3d516d;
    height: 7.5em;
    max-width: 6em;
    margin: 1em;
}
.item3_6 {
    display: flex;
    flex: 0 1 auto;
    border: solid 2px transparent;
    border-radius: 0.5em;
    background-color: #3d516d;
    max-height: 80%;
    max-width: 6em;
    margin-bottom: 0.3em;
}

.item3_7container{
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
    border: solid 2px transparent;
    border-radius: 0.5em;
    background-color: #3d516d;
    height: 7.5em;
    max-width: 6em;
    margin: 1em;
}
.item3_7 {
    display: flex;
    flex: 0 1 auto;
    border: solid 2px transparent;
    border-radius: 0.5em;
    background-color: #3d516d;
    max-height: 80%;
    max-width: 6em;
    margin-bottom: 0.3em;
}

.item3_8container{
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
    border: solid 2px transparent;
    border-radius: 0.5em;
    background-color: #3d516d;
    height: 7.5em;
    max-width: 6em;
    margin: 1em;
}
.item3_8 {
    display: flex;
    flex: 0 1 auto;
    border: solid 2px transparent;
    border-radius: 0.5em;
    background-color: #3d516d;
    max-height: 80%;
    max-width: 6em;
    margin-bottom: 0.3em;
}

.item3_9container{
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
    border: solid 2px transparent;
    border-radius: 0.5em;
    background-color: #3d516d;
    height: 7.5em;
    max-width: 6em;
    margin: 1em;
}
.item3_9 {
    display: flex;
    flex: 0 1 auto;
    border: solid 2px transparent;
    border-radius: 0.5em;
    background-color: #3d516d;
    max-height: 80%;
    max-width: 6em;
    margin-bottom: 0.3em;
}
 

.underneath {
    display:flex;
    justify-items: end;
    justify-content: center;
    margin: 0px;
    color:white;
    font-family: 'Roboto', arial;
    font-size: 15px;

}
.container4 {
    display:flex;
    flex-wrap:wrap;
    
    background-color: #3d516d;
    height: 10em;
    justify-content: left;
}

.container5 {
    display: flex;
    flex-wrap:wrap;
    
    background-color: #3d516d;
    height: em;
    justify-content: left;
}